# Unit 5 - Financial Planning

In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [2]:
# Load .env enviroment variables
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
# Verify that Alpaca key and secret were correctly loaded
type(alpaca_api_key)

str

In [5]:
type(alpaca_secret_key)

str

## Part 1 - Personal Finance Planner

### Collect Crypto Prices Using the `requests` Library

In [6]:
# Set current amount of crypto assets
crypto = ("BTC", "ETH")
my_btc = 1.2
my_eth = 5.3
crypto_amount = (my_btc, my_eth)

In [7]:
# Crypto API URLs
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD"

In [8]:
# Execute get request
request_btc_data = requests.get(btc_url).json()

In [9]:
# Output data
request_btc_data

{'data': {'1': {'id': 1,
   'name': 'Bitcoin',
   'symbol': 'BTC',
   'website_slug': 'bitcoin',
   'rank': 1,
   'circulating_supply': 18729181,
   'total_supply': 18729181,
   'max_supply': 21000000,
   'quotes': {'USD': {'price': 36042.0,
     'volume_24h': 29776416983,
     'market_cap': 676696161221,
     'percentage_change_1h': -0.416780507589979,
     'percentage_change_24h': -0.652100810800606,
     'percentage_change_7d': 0.914986418378296,
     'percent_change_1h': -0.416780507589979,
     'percent_change_24h': -0.652100810800606,
     'percent_change_7d': 0.914986418378296},
    'CAD': {'price': 43553.1528,
     'volume_24h': 35981822282.2572,
     'market_cap': 817719641219.456,
     'percent_change_1h': -0.416780507589979,
     'percent_change_24h': -0.652100810800606,
     'percent_change_7d': 0.914986418378296}},
   'last_updated': 1623078784}},
 'metadata': {'timestamp': 1623078784,
  'num_cryptocurrencies': 1292,
  'error': None}}

In [10]:
btc_price = request_btc_data["data"]['1']['quotes']['CAD']['price']
print(btc_price)

43553.1528

In [11]:
# Fetch current ETH price
# Execute get request
request_eth_data = requests.get(eth_url).json()

# Output data
request_eth_data

{'data': {'1027': {'id': 1027,
   'name': 'Ethereum',
   'symbol': 'ETH',
   'website_slug': 'ethereum',
   'rank': 2,
   'circulating_supply': 116194723,
   'total_supply': 116194723,
   'max_supply': 0,
   'quotes': {'USD': {'price': 2776.99,
     'volume_24h': 31505682738,
     'market_cap': 323786968866,
     'percentage_change_1h': -0.406701967427682,
     'percentage_change_24h': 1.9419989481969,
     'percentage_change_7d': 15.9082486641936,
     'percent_change_1h': -0.406701967427682,
     'percent_change_24h': 1.9419989481969,
     'percent_change_7d': 15.9082486641936},
    'CAD': {'price': 3355.714716,
     'volume_24h': 38071467020.5992,
     'market_cap': 391264173177.674,
     'percent_change_1h': -0.406701967427682,
     'percent_change_24h': 1.9419989481969,
     'percent_change_7d': 15.9082486641936}},
   'last_updated': 1623078780}},
 'metadata': {'timestamp': 1623078780,
  'num_cryptocurrencies': 1292,
  'error': None}}

In [12]:
eth_price = request_eth_data["data"]['1027']['quotes']['CAD']['price']
print(eth_price)

3355.714716

In [13]:
# Compute current value of my crpto
my_btc_value = my_btc * btc_price
my_eth_value = my_eth * eth_price
print(f" BTC value is {my_btc_value}")
print(f" ETH value is {my_eth_value}")

 BTC value is 52263.78336
 ETH value is 17785.2879948

In [14]:

# Print current crypto wallet balance
print(f"The current value of your {my_btc} BTC is ${my_btc_value:0.2f}")
print(f"The current value of your {my_eth} ETH is ${my_eth_value:0.2f}")
crypto_value = (my_btc_value, my_eth_value)
crypto_value

The current value of your 1.2 BTC is $52263.78
The current value of your 5.3 ETH is $17785.29

(52263.78336, 17785.2879948)

In [15]:
#creating crypto dataframe
crypto_portfolio = []
data_crypto = {'Crypto':crypto, 'Amount' : crypto_amount, 'Value' : crypto_value}
crypto_portfolio = pd.DataFrame(data=data_crypto)
print(crypto_portfolio)
crypto_value = crypto_portfolio['Value'].sum()
crypto_value

  Crypto  Amount         Value
0    BTC     1.2  52263.783360
1    ETH     5.3  17785.287995

70049.0713548

### Collect Investments Data Using Alpaca: `SPY` (stocks) and `AGG` (bonds)

In [16]:
# Set current amount of shares

my_agg = 200
my_spy = 50
shares=(my_agg, my_spy)
shares

(200, 50)

In [17]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object

alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [18]:
# Format current date as ISO format
start_date = pd.Timestamp("2019-06-04", tz="America/New_york").isoformat()
end_date = pd.Timestamp("2020-06-04", tz="America/New_york").isoformat()

In [19]:
# Set the tickers
tickers = ["AGG", "SPY"]

In [20]:
# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

In [21]:
# Get current closing prices for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date,
    limit = 1000
    ).df

In [22]:
# Preview DataFrame
df_portfolio

                              AGG                                       \
                             open      high     low    close    volume
time
2019-06-04 00:00:00-04:00  110.28  110.3800  108.85  110.300   4704680
2019-06-05 00:00:00-04:00  110.36  110.4700  108.85  110.230   2727411
2019-06-06 00:00:00-04:00  110.34  110.4200  110.16  110.230   2114944
2019-06-07 00:00:00-04:00  110.64  110.6700  110.45  110.530   3436048
2019-06-10 00:00:00-04:00  110.36  110.3600  110.22  110.240   2706969
...                           ...       ...     ...      ...       ...
2020-05-29 00:00:00-04:00  117.43  117.7100  117.32  117.670  16292692
2020-06-01 00:00:00-04:00  117.35  117.3999  117.24  117.365  10635820
2020-06-02 00:00:00-04:00  117.38  117.4700  117.31  117.450   7837090
2020-06-03 00:00:00-04:00  117.26  117.4100  117.06  117.160  11554888
2020-06-04 00:00:00-04:00  117.27  117.3000  116.82  116.860   9562346

                              SPY
                             open     high       low     close     volume
time
2019-06-04 00:00:00-04:00  277.12  280.680  276.6200  280.5200   64337734
2019-06-05 00:00:00-04:00  282.33  282.990  280.3200  282.9000   58965379
2019-06-06 00:00:00-04:00  283.29  285.550  282.5700  284.7400   53512841
2019-06-07 00:00:00-04:00  285.93  288.850  285.7400  287.6300   60266286
2019-06-10 00:00:00-04:00  289.37  290.820  288.8734  288.9305   51975211
...                           ...      ...       ...       ...        ...
2020-05-29 00:00:00-04:00  302.46  304.960  299.4700  304.1600  101356845
2020-06-01 00:00:00-04:00  303.62  306.205  303.0600  305.5800   46186733
2020-06-02 00:00:00-04:00  306.55  308.130  305.1000  308.1300   66042497
2020-06-03 00:00:00-04:00  310.24  313.220  309.9400  312.2117   79223813
2020-06-04 00:00:00-04:00  311.11  313.000  309.0800  311.3100   68304792

[254 rows x 10 columns]

In [23]:
# Pick AGG and SPY close prices

# picking the last row in the dataframe
df_last = df_portfolio.iloc[-1]
print(f" The last row is \n{df_last}\n")

# picking the 3rd column and 8th column value for AGG and SPY closing price
agg_close_price = df_last.iloc[3]
spy_close_price = df_last.iloc[8]

 The last row is
AGG  open           117.27
     high           117.30
     low            116.82
     close          116.86
     volume     9562346.00
SPY  open           311.11
     high           313.00
     low            309.08
     close          311.31
     volume    68304792.00
Name: 2020-06-04 00:00:00-04:00, dtype: float64

In [24]:
# Print AGG and SPY close prices
print(f"Current AGG closing price: ${agg_close_price}")
print(f"Current SPY closing price: ${spy_close_price}")

Current AGG closing price: $116.86
Current SPY closing price: $311.31

In [25]:
# Compute the current value of shares
my_spy_value = spy_close_price * my_spy
my_agg_value = agg_close_price * my_agg

my_value = (my_agg_value, my_spy_value)
# Print current value of shares
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:0.2f}")
print(f"The current value of your {my_agg} AGG shares is ${my_agg_value:0.2f}")

The current value of your 50 SPY shares is $15565.50
The current value of your 200 AGG shares is $23372.00

In [26]:
# creating a datafrom for the portfolio
share_portfolio = []
data_shares={'Ticker' : tickers, 'Shares' : shares, 'Share value' : my_value }
share_portfolio = pd.DataFrame(data=data_shares)
print(share_portfolio)
share_value = share_portfolio['Share value'].sum()
share_value

  Ticker  Shares  Share value
0    AGG     200      23372.0
1    SPY      50      15565.5

38937.5

     Type        Amount
0  crypto  70049.071355
1  shares  38937.500000

### Savings Health Analysis

In [33]:
# Set monthly household income
monthly_income = 12000

# Consolidate financial assets data
assets_df = [] 

# Create savings DataFrame
df_savings = []
save_type = ("crypto","shares")
save_amt = (crypto_value, share_value)
data_savings = {'Type' : save_type , 'Amount' : save_amt}
df_savings = pd.DataFrame(data=data_savings)


# Display savings DataFrame
display(df_savings)

     Type        Amount
0  crypto  70049.071355
1  shares  38937.500000

In [29]:
# Plot savings pie chart
# YOUR CODE HERE!

In [32]:
# Set ideal emergency fund
emergency_fund = monthly_income * 3

# Calculate total amount of savings
# YOUR CODE HERE!

# Validate saving health
# YOUR CODE HERE!

## Part 2 - Retirement Planning

### Monte Carlo Simulation

In [ ]:
# Set start and end dates of five years back from today.
# Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2016-05-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2021-05-01', tz='America/New_York').isoformat()

In [ ]:
# Get 5 years' worth of historical data for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
# YOUR CODE HERE!

# Display sample data
df_stock_data.head()

In [ ]:
# Configuring a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Printing the simulation input data
# YOUR CODE HERE!

In [ ]:
# Running a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

### Retirement Analysis

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

### Calculate the expected portfolio return at the `95%` lower and upper confidence intervals based on a `$20,000` initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $20,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

### Calculate the expected portfolio return at the `95%` lower and upper confidence intervals based on a `50%` increase in the initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000 * 1.5

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $30,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

## Optional Challenge - Early Retirement


### Five Years Retirement Option

In [ ]:
# Configuring a Monte Carlo simulation to forecast 5 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Running a Monte Carlo simulation to forecast 5 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Set initial investment
# YOUR CODE HERE!

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $60,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 5 years will end within in the range of"
      f" ${ci_lower_five} and ${ci_upper_five}")

### Ten Years Retirement Option

In [ ]:
# Configuring a Monte Carlo simulation to forecast 10 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Running a Monte Carlo simulation to forecast 10 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Set initial investment
# YOUR CODE HERE!

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $60,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 10 years will end within in the range of"
      f" ${ci_lower_ten} and ${ci_upper_ten}")